json_project/
eq_data_1_day_m1.json
eq_data_30)day_m1.json
eq1.py
eq2.py
global_eqs_1_day.html
global_eqs_30_days.html
List Comprehension Exercise.py
List Comprehension Start File.py
readable_eq_data.json
show_color_scale.py
test.txt
.gitignore
